:root {
 --text-colour: #1a1c20;
    --link-color: #4a76ee;
    --background-color: #eeeff1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif; 
    background-color: var(--background-colour);
}

a{
    color: var(--link-color);
    text-decoration: none;
}

/* NAVBAR */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
}

nav .left a{
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}

nav .right a{
    color: var(--text-color);
margin: 0 10px;
}

nav .left a:last-child{
    color: var(--background colour);
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px;
}

nav .right a span {
    margin-left: 5px;
}

/* SECTION 1: Hero */
.hero-section {
    background:url(Images/photo%20of%20me%20filming%20charlie%20landscape%202.jpg) fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    height: 93vh;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.hero-content{
      position: fixed;                 /* Makes the text stay on screen while scrolling */
  top: 50%;                        /* Vertically centers it */
  left: 50%;                       /* Horizontally centers it */
  transform: translate(-50%, -50%); /* Perfect centering using transform */
  color: black;                   /* Text color (adjust to contrast your background) */
  text-align: center;             /* Centers h1 and arrow */
  z-index: 2;                     /* Ensures it's above background */
      display: flex;               /* make it a flex container */
  flex-direction: column;      /* stack items vertically */
  gap: 1rem;      /* space between heading and subheading */
}

.hero-inactive {
  pointer-events: none;
  user-select: none;
}


.hero-text{
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.hero-smaller-text{
font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 1px;
  opacity: 0.8;
}

.hero-section .text h2{
    font-size: 45px;
}

.hero-section .text .links {
    margin-top: 25px;
}

.hero-section .text .links a{
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
}

.hero-section .text .links a:hover{
    color: var(--text-color);
    border: 2px solid var(--text-color);
}

.hero-section .headshot{
    flex: 2;
    display: flex;
    justify-content: right;
}

.hero-section .headshot img{
    width: 400px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

/* SECTION 2: Projects */
.projects-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-hover{
     position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.4s;
}

.poster:hover .text-hover{
    opacity: 1;
}

.projects-section h2{
    font-size: 35px;
    margin-bottom: 30px;
}

.projects-section .group{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
}

.projects-section .group .poster{
    position: relative;
    display: inline-block;
}

.projects-section .group .poster img{
    display: block;
    height: auto;
}

.poster--tall img{
width: 550px;
}

.poster--wide img{
width: 588px;
}

.poster--middle img{
width: 548px;
}

.poster-landscape img{
    width: 871px;
}

@media (max-width: 850px) {
    /* SECTION 1: Hero */
    .hero-section .text h2 {
        font-size: 35px;}
}

@media (max-width: 740px) {
    /* SECTION 1: Hero */
    .hero-section {
     flex-direction: column-reverse;
    }
    
    .hero-section .headshot img {
       width: 200px;
        height: 200px;
    }
}

@media (max-width: 600px) {
    /* NAVBAR */
    nav{
       padding: 0 50px;
}
    
    nav .right a {
       font-size: 22px;
    }
    
    nav .right a:last-child{
        color: var(--text-color);
        background-color: transparent;
        padding: 0;
    }
    
    nav .right a span{
        display: none;
    }
    
    /* SECTION 1: Hero */
    .hero-section{
        padding: 0 20px;
    }
    
    .hero-section .text h2 {
        font-size: 30px;
    }
}